---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Tag from "@components/Tag.astro";
import getUniqueTags from "@utils/getUniqueTags";
import { SITE } from "@config";
import { getCollection } from "astro:content";
import type Store from "@interfaces/Store";
import { markketplace } from "@config";

const stores = await getCollection("stores");
const store: { data: Store } | undefined = stores?.find(
  (store: { data: Store }) => store.data.slug === markketplace.STORE_SLUG
);

const posts = await getCollection("posts");

let tags = getUniqueTags(posts);

//  { id: 3, Label: 'Company', Color: 'Magenta' } ] }
// from posts.Tags
---

<Layout title={`Tags | ${SITE.title}`}>
  <Header activeNav="tags" store={store} />
  <Main pageTitle="Tags" pageDesc="All the tags used in posts.">
    <ul>
      {tags.map(({ tag }) => <Tag {tag} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
