---
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import type Store from "../interfaces/Store";
import type Page from "../interfaces/Page";
import {
  BlocksRenderer,
  type BlocksContent,
} from "@strapi/blocks-react-renderer";

const stores = await getCollection("stores");
const store = stores?.[0]?.data as unknown as Store;

const pages = await getCollection("pages");
const aboutPage = pages.find(
  page => (page as unknown as { data: Page }).data.slug === "about"
) as unknown as { data: Page };

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}
---

<Layout>
  <Header activeNav="about" store={store} />
  <Breadcrumbs />
  <main id="main-content">
    <section id="about" class="mb-10 max-w-3xl prose-img:border-0">
      <h1 class="text-2xl tracking-wider sm:text-3xl">
        {aboutPage?.data?.Title}
      </h1>
    </section>
    <section class="">
      <BlocksRenderer
        content={aboutPage?.data?.Content || ([] as BlocksContent[])}
      />
    </section>
  </main>
  <Footer />
</Layout>
