---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Card from "@components/Card";
import { slugifyStr } from "@utils/slugify";
import { SITE } from "@config";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import type Store from "@interfaces/Store";
import { markketplace } from "@config";

const stores = await getCollection("stores");
const store = stores.find(
  (store: Store) => store.data.slug === markketplace.STORE_SLUG
);

let pages = await getCollection("pages");
pages = pages
  .sort(
    (a, b) =>
      new Date(b.data.createdAt).getTime() -
      new Date(a.data.createdAt).getTime()
  )
  .filter(
    page =>
      page.data.Active && !["about", "home", "receipt"].includes(page.data.slug)
  );
---

<Layout title={`Pages Index | ${SITE.title}`}>
  <Header store={store} activeNav="pages" />
  <Main pageTitle="Pages" pageDesc="A list of all pages.">
    <ul class="-mx-4 flex flex-wrap">
      {
        pages.map(page => (
          <Card
            href={`/${slugifyStr(page.data.slug) || "#"}/`}
            image={page?.data?.SEO?.socialImage}
            frontmatter={{
              title: page.data.Title,
              pubDatetime: new Date(page.data.createdAt),
              modDatetime: new Date(page.data.updatedAt),
              description: page.data.SEO?.metaDescription || "",
              SEO: { ...page.data.SEO },
            }}
          />
        ))
      }
    </ul>
    <Footer activeNav="pages" />
  </Main>
</Layout>
