---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import PageCard from "@components/PageCard";
import { slugifyStr } from "@utils/slugify";
import Footer from "@components/Footer.astro";
import { markketplace } from "@config";

const store = (await getCollection("store"))?.[0]?.data;

const pages = (await getCollection("pages"))
  .sort((a, b) => a.data.Title.localeCompare(b.data.Title))
  .filter(
    page => page.data.Active && !["home", "receipt"].includes(page.data.slug)
  );
---

<Layout
  meta={{
    title: `Pages Index | ${store.title}`,
    image:
      store?.SEO?.socialImage?.url ||
      store?.Logo?.url ||
      markketplace?.defaults?.hero,
    description: store?.SEO?.metaDescription,
  }}
>
  <Main pageTitle="Pages" pageDesc="A list of all pages.">
    <ul class="mx-4 flex max-w-3xl flex-wrap">
      {
        pages.map(page => (
          <PageCard
            href={`/${slugifyStr(page.data.slug) || "#"}/`}
            title={page.data.Title}
            description={page.data.SEO?.metaDescription}
          />
        ))
      }
    </ul>
  </Main>
  <Footer activeNav="pages" />
</Layout>
