---
import Hr from "./Hr.astro";
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
  activeNav?: string;
}

const { activeNav, noMarginTop = false } = Astro.props;
---

<footer
  class={`${noMarginTop ? "" : "mt-auto"} bg-skin-card dark:bg-skin-fill`}
>
  <Hr noPadding />
  <div class="footer-wrapper">
    <br />
    <div class="copyright-wrapper">
      <Socials centered />
      <span>Copyleft &#169; {currentYear}</span>
      <span class="separator">&nbsp;</span>
      <span>Some rights reserved.</span>
      &nbsp;|&nbsp;
      <span>
        <a href="/pages/" class={activeNav === "pages" ? "active" : ""}>
          Pages
        </a>
      </span>
      &nbsp;|&nbsp;
      <span>
        <a href="/products/" class={activeNav === "products" ? "active" : ""}>
          Products
        </a>
      </span>
    </div>
  </div>
</footer>
