---
import Hr from "./Hr.astro";
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
  activeNav?: string;
}

const { activeNav, noMarginTop = false } = Astro.props;
---

<footer class={`${noMarginTop ? "" : "mt-auto"} bg-white`}>
  <Hr noPadding />
  <div class="footer-wrapper px-4 py-8">
    <br />
    <div class="copyright-wrapper">
      <Socials centered />
      <span>
        <a
          href="https://de.markket.place/store/markket/blog/2025-02-tsl"
          target="_blank"
        >
          Copyleft
        </a>
        &#169; {currentYear}
      </span>
      <span class="separator">&nbsp;</span>
      <span>Some rights reserved</span>
      &nbsp;|&nbsp;

      {
        [
          {
            name: "About",
            href: "/about",
          },
          {
            name: "Catalogue",
            href: "/products",
          },
          {
            name: "Home",
            href: "/",
          },
        ].map(link => {
          return (
            <span>
              <a
                href={link.href}
                class={`${activeNav === "pages" ? "active" : ""} hover:border-accent-500 overflow-hidden rounded-lg p-4 transition-all hover:shadow-md`}
              >
                {link.name}
              </a>
              &nbsp;|&nbsp;
            </span>
          );
        })
      }
    </div>
  </div>
</footer>
