---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
import { getCollection } from "astro:content";
import { slugifyStr } from "@utils/slugify";
import Hr from "@components/Hr.astro";
import ProductPage from "@components/pages.product.astro";

export interface Props {
  currentPage: number;
  totalPages: number;
  stores: CollectionEntry<"stores">[];
  store: CollectionEntry<"stores">;
  product: CollectionEntry<"products">["data"];
  meta: {};
  related?: [];
}

export async function getStaticPaths() {
  const products = await getCollection("products");
  const store = (await getCollection("store"))?.[0];

  const productsResult = products.map(item => {
    const product = item.data;
    const meta = {
      title: product?.SEO?.metaTitle || `${store?.data.title} Product`,
      image: product?.SEO?.socialImage?.url,
      description: product?.SEO?.metaDescription,
      url: product?.SEO?.metaUrl || "/products",
      pubDatetime: product?.updatedAt,
      modDatetime: product?.createdAt,
    };

    return {
      params: {
        slug: `${product.slug || slugifyStr(product.Name)}`,
      },
      props: { product, meta, store },
    };
  });

  return [...productsResult];
}

const { product, meta, store, related } = Astro.props;
---

<script>
  import { ProductSlideshow } from "../../scripts/ui.product";
  document.addEventListener("astro:page-load", () => {
    ProductSlideshow();
  });
</script>
<Layout meta={meta}>
  <ProductPage product={product} store={store} />

  <section class="my-18 border-t border-gray-200 pt-16">
    <!-- <div class="mb-16 text-center">
        <h3 class="mb-4 text-3xl font-light text-gray-900">
          You May Also Appreciate
        </h3>
        <div class="mx-auto h-px w-16 bg-gray-900"></div>
      </div> -->
      {related?.map(a => <></>)}
    <div class="text-center">
      <a
        href="/products"
        class="inline-flex items-center border border-gray-900 px-12 py-4 text-xs font-light tracking-wider text-gray-900 uppercase transition-all duration-300 hover:bg-gray-900 hover:text-white"
      >
        View Collection
        <div
          class="ml-4 h-px w-6 bg-gray-900 transition-all duration-300 group-hover:w-8 group-hover:bg-white"
        >
        </div>
      </a>
    </div>
  </section>
  <Hr />

  <div class="m-4 mx-auto max-w-xl">
    <ol class="mt-4 text-sm text-gray-500">
      <li class="mb-2">
        We use Stripe to collect payments, and send payouts to the sellers
      </li>
      <li class="mb-2">
        The artists will reach out with tracking details, or follow up steps to
        complete the transaction
      </li>
    </ol>
  </div>
</Layout>
<Footer />
