---
import { type CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card";
import Pagination from "@components/Pagination.astro";
import { SITE, markketplace } from "@config";
import { getCollection } from "astro:content";
import type Store from "../interfaces/Store";
import { slugifyStr } from "@utils/slugify";

const stores = await getCollection("stores");
const store = stores?.find(
  (store: { data: Store }) => store.data.slug === markketplace.STORE_SLUG
);

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"posts">[];
  tag: string;
  tagName: string;
}

const {
  currentPage,
  totalPages,
  paginatedPosts,
  tag = "all",
  tagName,
} = Astro.props;
---

<div>
  <h1 slot="title" transition:name={tag}>{`Tag:${tag}`}</h1>
  <ul class="-mx-4 flex flex-wrap">
    {
      paginatedPosts.map(({ data }) => (
        <Card
          href={`/blog/${new Date(data.updatedAt).getFullYear()}-${slugifyStr(data.Title)}`}
          tags={data.Tags.map((tag: { Label: string }) => tag.Label)}
          image={data?.cover || data?.SEO?.metaImage}
          frontmatter={{
            author: "x",
            title: data.Title,
            pubDatetime: new Date(data.createdAt),
            modDatetime: new Date(data.updatedAt),
            description: data.SEO?.metaDescription || "",
            SEO: { ...data.SEO },
          }}
        />
      ))
    }
  </ul>
</div>
